
.ng-invalid.ng-dirty,
.ng-invalid.ng-touched{
    border-color: rgb(0, 0, 255);
}

h2{
    color: #144afd;
}

.form-control:focus{
    border-color: #1446fd;
    box-shadow: 0 0 8px rgba(253,126,20,.25);
}

button.mat-primary{
    background: linear-gradient(45deg,#1420fd,#4346ff);
}